/*
    General colors and setup for fonts
*/

body {
    margin: 0;
    padding: 0;
    /* Oracle Brand: Use Tahoma,Verdana,Helvetica,sans-serif for just about all text */
    font-family: Tahoma,Verdana,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 14px;
	background-color:#204263; 
}
#ylogin {
	width:980px!important;
        position:relative!important;
	background:#FFFFFF;
	margin-top: 60px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius:12px;
	-moz-box-shadow:    3px 3px 5px 5px #999;
	-webkit-box-shadow: 3px 3px 5px 5px #999;
	box-shadow:         3px 3px 5px 5px #999;
}

#ylogin label, ylogin input{
    font-size:15px!important;
}

input[type=text]{
    font-size:15px!important;
    padding:2px!important;
}

input[type=radio]{
    margin-bottom:5px!important;
    width:17px;
    height:17px;
}
/*
    Typography
*/

a, a:link {
    font-size: 14px;
    text-decoration: none;
    color: #204263;
	
}
a:visited {
    color: #204263;
}
a:hover {
	text-decoration: underline;
}
a:active {
    color: #204263;
    text-decoration: none;
}

h1 {
    font-size: 11px;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0em;/*both set to zero and padding in header div is used intead to deal with compound ie pc problems that are beyound summary in a simple comment.*/
}
h2 {
	font-size: 11px;
	font-weight: bold;
    margin: 1.2em 0em 1.2em 0em;
}
h3 {
	font-size: 11px;
    margin: 1.2em 0em 1.2em 0em;
}
img {
	border: 0;
}
ol, ul, li {
	font-size: 11px;
	line-height: 1.3em;
	margin-top: 0.2em;
	margin-bottom: 0.1em; 
}

li > p {
	margin-top: 0.2em;
}
pre {
	font-family: monospace;
	font-size: 1.2em;
}
code {
    font-family: monospace;
    font-size: 1.2em;
}
strong, b {
	font-weight: bold;
}
p {
    margin: 0;
    padding: 5px 0;
}
.bosluk {margin-top:15px!important;}
