/*
    Styles for the login page and other standalone pages (pages outside the
    control of Portal)
*/
#content {
    overflow: hidden;
    width: 100%;
}

#login-header {
    height: 89px;
}

#login-header img {
    margin-top: 20px;
    margin-left: 25px;
}

#header {
    padding-bottom: 20px;
}

#login {
    background: #185E87url(../images/LoginContainer_bg.png)repeat top left;
    padding: 7px 9px 7px;
    float: right;
    width: 320px;
    margin-right: 52px;
    margin-top: 60px;
}

#loginnobackground {
    padding: 7px 9px 7px;
    float: right;
    width: 420px;
    margin-right: 52px;
    margin-top: 60px;
}

#title {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#ylogin.message-row {
    padding-top: 5px;
}

#message {
    width: 630px;
    margin: 0px auto;
}

#loginData {
    padding: 20px;
    margin: 0px;
    width: 544px;
}

.content {
    padding: 8px;
}

.input-row label {
    width: 8em;
    float: left;
    font-weight: bold;
    font-size: 18px;
    padding-top: 9px;
    color: #204263;
}

.input-row.ctrl {
    width: 10em;
    float: left;
}

.button-row.ctrl {
    float: left;
    padding-left: 320px;
}

input, select, button, label {
    margin-right: 15px;
    margin-bottom: 5px;
    border-radius: 6px;
    font-size:15px!important;
}

.textinput {
    border: 1px solid #DADADA;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 4px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
}

#username, #password {
    width: 14em;
}

.login-footer.info p {
    margin: 1px 0px;
}

.login-footer-authpad.info p {
    margin: 1px 0px;
}

.login-footer-textpad.info p {
    margin: 1px 0px;
}

.login-footer-keypad.info p {
    margin: 1px 0px;
}

.login-footer-pinpad.info p {
    margin: 1px 0px;
}

.login-footer-register.info p {
    margin: 1px 0px;
}

.login-footer-challenge.info p {
    margin: 1px 0px;
}

.login-footer-generic.info p {
    margin: 1px 0px;
}

.login-footer-version.info p {
    margin: 1px 0px;
}

.login-footer {
    color: #B2CBDB;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: 185px;
    white-space: nowrap;
}

.login-footer-generic {
    color: #B2CBDB;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: 235px;
    white-space: nowrap;
}

.login-footer-version {
    position: absolute;
    top: 584px;
    /* length of background image */

    color: #B2CBDB;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    white-space: nowrap;
}

.login-footer-authpad {
    color: #B2CBDB;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: 265px;
    white-space: nowrap;
}

.login-footer-pinpad {
    color: #B2CBDB;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: 20px;
    white-space: nowrap;
}

.login-footer-textpad {
    color: #B2CBDB;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: 20px;
    white-space: nowrap;
}

.login-footer-keypad {
    color: #B2CBDB;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: 90px;
    white-space: nowrap;
}

.login-footer-register {
    color: #B2CBDB;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: 40px;
    white-space: nowrap;
}

.login-footer-challenge {
    color: #B2CBDB;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: 110px;
    white-space: nowrap;
}

.formButton {
    margin-top: 4px;
    padding: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDD8 #AFAFAF #797975;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Tahoma, Geneva, sans-serif;
    white-space: nowrap;
    overflow: visible;
    /* keeps IE from making buttons too wide */

    background-color: #204263;
}

.formButton-disabled {
    margin-top: 4px;
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDD8 #AFAFAF #797975;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Tahoma, Geneva, sans-serif;
    white-space: nowrap;
    overflow: visible;
    /* keeps IE from making buttons too wide */

    background-color: #204263;
}

.loginFailed {
    color: #AD0E25;
}